#navBar
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 10px 40px;
    border: 2px solid rgb(124, 113, 113);
    border-radius: 5px;
    background-color: rgb(170, 236, 236);
}
#navBar >div
{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 25px;
    
}
